@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-police-dark text-slate-100 font-sans antialiased min-h-screen;
  }
}

/* Custom Scrollbar for clean UI layout */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0b132b;
}
::-webkit-scrollbar-thumb {
  background: #1c2541;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3a506b;
}
